# -----------------------
# 🔧 Common (OS/IDE)
# -----------------------
.DS_Store
.idea/
.vscode/

# -----------------------
# 🔐 Env & Secrets
# -----------------------
.env*
*.pem

# -----------------------
# 🐍 Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.ipynb_checkpoints/

# -----------------------
# 🤖 ML Models & Binaries
# -----------------------
*.pt
*.ckpt
*.onnx
*.h5
*.safetensors
*.so
*.dylib

# -----------------------
# ⚙️ Node.js (Frontend)
# -----------------------
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
coverage/
.next/
out/
build/
.cache/
**/.cache/
**/.cache/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# -----------------------
# ☁️ Hosting
# -----------------------
.vercel

# -----------------------
# ⛏️ Typescript
# -----------------------
*.tsbuildinfo
next-env.d.ts
