fastapi==0.115.9
uvicorn==0.34.2
python-multipart==0.0.20
pydantic==2.11.5
neo4j==5.17.0
chromadb==1.0.12
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langchain-huggingface==0.2.0
langchain-openai==0.3.18
langchain-chroma==0.2.4
sentence-transformers==4.1.0
nltk==3.9.1
pdfplumber==0.11.6
python-dotenv==1.1.0
requests==2.32.3
openai==1.82.1
httpx==0.28.1
